<link rel="stylesheet" href="https://vjs.zencdn.net/5.8.8/video-js.min.css">
<script src="https://vjs.zencdn.net/5.8.8/video.min.js"></script>
<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
<%= stylesheet_link_tag 'video-viewer' %>
<%= javascript_include_tag 'videojs-dash.min.js' %>
<%= javascript_include_tag 'video-viewer' %>

<h1>IIIF Video info.json Demo</h1>

<p><b>Note that this is just a demonstration and is definitely not what an IIIF Video info.json will be like once specified.</b></p>

<p>Enter a video info.json to see the video.</p>

<p><input type="text" id="iiif-video-input" placeholder="Add a video info.json and click Load" style="width:100%; max-width:360px;" autocomplete='off'> <button id="iiif-video-button">Load</button></p>

<div id="iiif-video"></div>

<div>
  <span id="currentType"></span>
</div>

<h2>Examples</h2>

<%= render partial: 'development_examples'  %>
