<h1>IIIF Video</h1>

<p>Enter a video manifest to see the video.</p>

<p><input type="text" id="iiif-video-input" placeholder="Add a manifest to a video" style="width:100%; max-width:360px;" autocomplete='off'> <button id="iiif-video-button">Load</button></p>

<div id="iiif-video"></div>
